<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Student</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center p-6">

  <!-- Update Student Card -->
  <div class="bg-white w-full max-w-md p-8 rounded-2xl shadow-lg">

    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">
      Update Student
    </h1>

    <!-- Form -->
    <form method="POST" class="space-y-4">
        {% csrf_token %}
      <!-- Name -->
      <div>
        <label class="block text-gray-700 font-medium mb-1">
          Student Name
        </label>
        <input 
          type="text"
          name="name"
          value="{{ student.name }}"
          class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-yellow-500"
        >
      </div>

      <!-- Email -->
      <div>
        <label class="block text-gray-700 font-medium mb-1">
          Email Address
        </label>
        <input 
          type="email"
          name="email"
          value="{{ student.email }}"
          class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-yellow-500"
        >
      </div>

      <!-- Phone -->
      <div>
        <label class="block text-gray-700 font-medium mb-1">
          Phone Number
        </label>
        <input 
          type="tel"
          name="phone_number"
          value="{{ student.phone_number}}"
          class="w-full border border-gray-300 rounded-lg p-3 focus:outline-none focus:ring-2 focus:ring-yellow-500"
        >
      </div>

      <!-- Buttons -->
      <div class="flex justify-between pt-4">

        <a href="index.html"
           class="bg-gray-400 text-white px-5 py-2 rounded-lg hover:bg-gray-500 transition">
          Cancel
        </a>

        <button 
          type="submit"
          class="bg-yellow-500 text-white px-6 py-2 rounded-lg hover:bg-yellow-600 transition">
          Update
        </button>

      </div>

    </form>

  </div>

</body>
</html>